<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}"> 
    <title>edit recipe</title>
</head>
<body>
    <div class="container1">
        <h2>Edit Recipe!</h2> 
        {% with messages = get_flashed_messages() %}     
            {% if messages %}                            
                {% for message in messages %}            
                    <p class="msg">{{message}}</p>                   
                {% endfor %}
            {% endif %}
        {% endwith %}

        <div class="cont2">
            <a href="/recipes">back to recipes</a>
            <a href="/logout">logout</a>
        </div>

        <div class="cont1">
            <form action="/recipes/update/{{ recipe.id }}" method="post">
                <div>
                    <div class="cont1">
                        <label for="name">Name</label>
                        <input type="text" name="name" value="{{recipe.name}}">
                    </div>
        
                    <div class="cont1">
                        <label for="description">Description</label>
                        <textarea name="description" rows="4" cols="50">{{recipe.description}}</textarea>
                    </div>
        
                    <div class="cont1">
                        <label for="instruction">Instructions</label>
                        <textarea name="instruction" rows="4" cols="50">{{recipe.instruction}}</textarea>
                    </div>
                </div>

                <div class="cont3">
                    <div>
                        <label for="date">Date Cooked/Made:</label>
                        <input type="date" value="{{recipe.created_at}}">
                    </div>
                    <div>
                        <label for="under_cook">Under 30 minutes?</label>
                        <div class="cont1">
                            <input type="checkbox" id="yes" name="under_cook" value="1" {% if recipe.under_cook == 1 %} checked {% endif %}>
                            <label for="yes">Yes</label>
                            <input type="checkbox" id="no" name="under_cook" value="0" {% if recipe.under_cook == 0 %} checked {% endif %}>
                            <label for="no">No</label>
                        </div>
                    </div>
                </div>

                <input type="submit" value="Submit">
            </form>
        </div>
    </div>
</body>
</html>