<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Counter</title>
</head>
<body>
    <h1 style="text-align: center;">Counter</h1>

    <div style="text-align: center;">
        <p>You have visited this site <strong>{{ counter }}</strong> times.</p>
        <form action="/increment" method="POST">
        <button type="submit">+2</button>
        </form>
        <br>
        <form action="/destroy_session" method="GET">
        <button type="submit">Reset</button>
        </form>
    </div>

</body>
</html>