<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body style="text-align: center;">

    <h1>Welcome to the Great Number Game!!!</h1>
    <p>I am thinking of a number between 1 and 100</p>
    <form action="/guess" method="post">
        <div>
            <label for="guess">Take a Guess!!!</label>
            <input type="text" name="guess">
        </div> <br>
        <input type="submit" value="Guess">
    </form>

    {% if 'guess' in session %}
    <div>
        {% if session['guess'] == session['num'] %}
            <h2>You got the number!</h2>
            <a href="/reset">Play Again</a>
        {% elif session['guess'] < session['num'] %}
            <h2>Too Low!!!</h2>
        {% else %}
            <h2>Too High!!!</h2>
        {% endif %}
    </div>
    {% endif %}

</body>
</html>